@import 'tailwindcss';

@theme {
  --color-nav-background: var(--color-secondary);
  --color-text-white: #ffffff;
  --color-text-black: #101010;
  --color-primary: #f59e0b;
  --color-primary-hover: #d97706;
  --color-secondary: #242f4d;
  --color-secondary-2: #2e3b5e;

  --font-bonanova: 'Bona Nova SC', serif;
  --font-crimson: 'Crimson Text', serif;
  --font-nunito: 'Nunito Sans', sans-serif;
  --font-unna: 'Unna', serif;
  --font-monsterrat: 'Montserrat', sans-serif;

  --shadow-nav: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  --shadow-card: rgba(0, 0, 0, 0.2) 4px 4px 3px 1px;
}

@layer components {
  .logo-wrapper {
    width: 80px;
  }

  @media (min-width: 1024px) {
    .logo-wrapper {
      width: 120px;
    }
  }

  .ctaLanding {
    background-color: transparent;
    font-family: var(--font-monsterrat);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    padding: 4px 8px;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-primary-hover);
      }
    }
  }

  .dark-glass {
    background: #242f4d60;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }

  .landingSection {
    height: 100vh;
    height: -webkit-fill-available;
    height: stretch;

    overflow: hidden;
  }

  .sectionPaddingY {
    padding-block: 64px;

    @media (max-width: 768px) {
      padding-block: 32px;
    }
  }

  .aboutValues {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 16px;
  }

  /* Screen Sizes */
  .screen-sm {
    width: min(90%, 800px);
    margin-inline: auto;
  }

  .screen {
    width: min(90%, 1000px);
    margin-inline: auto;
  }

  .screen-lg {
    width: min(90%, 1200px);
    margin-inline: auto;
  }

  .screen-xl {
    width: min(90%, 1400px);
    margin-inline: auto;
  }

  /* Text  Styles */
  .pageTitle {
    @apply text-5xl xl:text-7xl;
    color: var(--color-text-white);
    font-family: var(--font-unna);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  .pageSubtitle {
    @apply text-xl xl:text-2xl;
    color: var(--color-text-white);
    font-family: var(--font-nunito);
    font-weight: 400;
  }

  .textTitle {
    @apply text-2xl xl:text-3xl;
    color: var(--color-primary);
    font-family: var(--font-monsterrat);
    font-weight: 400;
    text-transform: uppercase;
  }

  .textSubtitle {
    @apply text-lg xl:text-xl;
    color: var(--color-text-white);
    font-family: var(--font-monsterrat);
    font-weight: 400;
    text-transform: capitalize;
  }

  .text {
    @apply text-lg xl:text-xl;
    color: var(--color-text-white);
    font-family: var(--font-nunito);
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .textCard {
    @apply text-base xl:text-lg text-text-white/80;
    font-family: var(--font-nunito);
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .textShadow {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 4px 4px 5px rgba(0, 0, 0);
  }

  /* Super Big Text */
  .text-super {
    font-size: 1.75rem;

    @media (min-width: 640px) {
      font-size: 2.25rem;
    }

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 1024px) {
      font-size: 3.75rem;
    }

    @media (min-width: 1280px) {
      font-size: 4.5rem;
    }
  }

  /* Big Text */
  .text-big {
    font-size: 1.5rem;

    @media (min-width: 640px) {
      font-size: 1.75rem;
    }

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  /* Medium Text */
  .text-medium {
    font-size: 1.1rem;

    @media (min-width: 640px) {
      font-size: 1.2rem;
    }

    @media (min-width: 768px) {
      font-size: 1.35rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  /* Normal Text */
  .text-normal {
    font-size: 1rem;

    @media (min-width: 640px) {
      font-size: 1.125rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.25rem;
    }
  }

  /* Small Text */
  .text-small {
    font-size: 0.875rem;

    @media (min-width: 1024px) {
      font-size: 1rem;
    }
  }

  /* Extra Small Text */
  .text-xs {
    font-size: 0.75rem;

    @media (min-width: 1024px) {
      font-size: 0.875rem;
    }
  }

  .flexrow-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flexcol-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flexcol {
    display: flex;
    flex-direction: column;
  }

  .wh-screen {
    width: 100vw;
    height: 100vh;
  }

  .wh-full {
    width: 100%;
    height: 100%;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .absolute-top-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .absolute-middle-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease;
  }

  .absolute-middle-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .absolute-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .absolute-bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
  }

  .fixed-top-center {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .fixed-top-right {
    position: fixed;
    top: 0;
    right: 0;
  }

  .fixed-middle-left {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .fixed-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fixed-middle-right {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .fixed-bottom-center {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
