.header {
  background-color: transparent;

  width: 100vw;
  padding: 16px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__toggleBtn {
    background: transparent;
    border: none;
    cursor: pointer;

    width: 30px;
    height: 30px;

    display: none;

    position: relative;

    @media (max-width: 768px) {
      display: block;
    }

    &-burger {
      background-color: transparent;
      transition: background-color 0.3s ease;

      width: 100%;
      height: 2px;

      display: block;

      position: relative;
      z-index: 2;

      &::before,
      &::after {
        content: '';
        background-color: var(--color-text-white);
        transition: transform 0.3s ease;

        width: 100%;
        height: 2px;

        position: absolute;
        left: 0;
      }

      &::before {
        top: -8px;
      }

      &::after {
        bottom: -8px;
      }
    }

    &--open {
      .header__toggleBtn-burger {
        // Hide the middle line
        background-color: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
        }

        &::after {
          transform: rotate(-45deg);
          bottom: 0;
        }
      }
    }
  }

  &__nav {
    position: relative;

    &-list {
      font-family: var(--font-nunito);

      display: flex;
      gap: 0 4px;

      @media (max-width: 768px) {
        background-color: var(--color-secondary-2);
        font-size: 1.1rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        padding: 12px 16px;
        width: 220px;
        height: 162px;

        flex-direction: column;
        gap: 12px 0;

        position: absolute;
        top: -10px;
        right: -14px;

        clip-path: path(
          'M 161,0 A 7,9.53 0,0,1 168,9.53 L 168,38.12 A 7,9.53 0,0,0 175,47.65 L 203,47.65 A 7,9.53 0,0,1 210,57.18 L 210,152.47 A 7,9.53 0,0,1 203,162 L 7,162 A 7,9.53 0,0,1 0,152.47 L 0,9.53 A 7,9.53 0,0,1 7,0 L 161,0 Z'
        );

        &--open {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }

    &-item {
      color: var(--color-text-white);
      border-radius: 4px;

      a {
        transition: color 0.3s ease;
        padding: 2px 6px;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          background-color: var(--color-primary);
          transition: height 0.3s ease;
          border-radius: 2px;

          width: 100%;
          height: 0;

          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
        }

        &::after {
          content: '';
          background-color: var(--color-text-white);
          transition: width 0.5s ease;

          width: 0;
          height: 1.5px;

          position: absolute;
          bottom: 0;
          left: 0;
        }

        &.active {
          &::after {
            background-color: var(--color-text-white);
            width: 100%;
          }
        }

        @media (hover: hover) {
          &:hover {
            &::before {
              height: 100%;
            }
          }
        }

        @media (max-width: 768px) {
          border-left: solid 1px var(--color-primary);
          padding-left: 12px;
        }
      }
    }
  }
}
