.servicesGrid {
  display: grid;
  gap: 4px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "si-1 si-1 si-2 si-3"
    "si-1 si-1 si-4 si-5"
    "si-6 si-6 si-7 si-7";
    
  .si-1 { grid-area: si-1; }
  .si-2 { grid-area: si-2; }
  .si-3 { grid-area: si-3; }
  .si-4 { grid-area: si-4; }
  .si-5 { grid-area: si-5; }
  .si-6 { grid-area: si-6; }
  .si-7 { grid-area: si-7; }

  .service-item {
    min-height: 350px;
    .service-overlay {
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }
  }

  @media (hover: hover) {
    .service-item {
      &:hover {
        .service-overlay {
          opacity: 1;
        }
      }
    }
  }
  
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "si-1 si-1 si-2"
      "si-3 si-4 si-5"
      "si-6 si-6 si-7";
  }
  
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "si-1 si-1"
      "si-2 si-3"
      "si-4 si-5"
      "si-6 si-6"
      "si-7 si-7";
  }
  
  @media (max-width: 520px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "si-1"
      "si-2"
      "si-3"
      "si-4"
      "si-5"
      "si-6"
      "si-7";
  }
}
